html,
body,
#root {
  height: 100%;
}

html.light {
  * {
    color-scheme: light;
  }
}

html.dark {
  * {
    color-scheme: dark;
  }
}

summary {
  list-style: none;
}

summary::before {
  content: "▶ ";
}

details[open] > summary::before {
  content: "▼ ";
}
